@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Marck+Script&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300;1,700&family=Young+Serif&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 406vh;
  /* background: linear-gradient(
    to bottom,
    #393737 0%,
    #393737 50%,
    #ded7c9 50%,
    #ded7c9 100%
  ); */
  background: url(./images/pngfind.com-shadow-png-2751239.png), linear-gradient(
    to bottom,
    #393737 0%,
    #393737 50%,
    #ded7c9 50%,
    #ded7c9 100%
  );
  background-size: 100% 50%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
  border: 3px solid #efb740;
  padding: 10px 25px 15px 25px;
  border-radius: 40px;
  cursor: pointer;
}

.wrapper-1{
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  margin-top: 10rem;
  margin-left: 6rem;
}

.name{
  font-size: 125px;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

.title{
  font-size: 30px;
  color: #efb740;
  font-family: 'Montserrat Alternates', sans-serif;
}

.contact{
  font-size: 30px;
  margin-top: 12rem;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* next */

.wrapper-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 250px;
  /* border: 2px solid red; */
}

.info{
  /* border: 3px purple solid; */
  width: 600px;
  line-height: 30px;
  text-align: left;
  margin-left: 100px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.about{
  background: linear-gradient(to right, #efb740, #615540,#615540, #efb740);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 8px;
}

.text-1{
  font-size: 20px;
  text-wrap: balance;
  color: #615540;
}

.portrait{
  border: 4px #dbcb92 solid;
  border-radius: 40px;
  width: 400px;
  margin-left: 200px;
}

/* third */

.ene{
  display: inline-block;
  width: 370px;
  /* border: red solid 2px; */
  margin: 250px 10px 0 75px;
  font-size: 50px;
  line-height: 55px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  color: #efb740;
}

.hr-1{
  border: #dbcb92 solid 2px;
  border-radius: 30px;
  margin-top: 10px;
}

.t-wrapper{
  /* width: 200px; */
  /* border: solid yellow 2px; */
  width: 1000px;
  margin: 45px 75px;
}

.j-y-wrapper, .c-d-wrapper{
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* border: blue solid 2px; */
}

.comp, .desc{
  grid-column: 2;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.comp{
  color: #dbcb92;
  margin-top: 5px;
  letter-spacing: 2px;
}

.desc{
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 3px;
  color: white;
}

.job, .year{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #efb740;
  /* margin-top: 10px; */
  letter-spacing: 2px;
}


/* fourth */
.skap{
  display: inline-block;
  width: 370px;
  /* border: red solid 2px; */
  margin: 80px 10px 0 40px;
  font-size: 50px;
  line-height: 55px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(to right, #efb740, #efb740,#615540, #615540);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hr-2{
  border: #928C6F solid 2px;
  border-radius: 30px;
  margin-top: 10px;
}

.f-wrapper{
  /* width: 200px; */
  /* border: solid yellow 2px; */
  width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-left: 10px;
  gap: 5px;
}

.skill{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #efb740;
  margin-top: 10px;
  margin-left: 45px;
  letter-spacing: 2px;
}

.d2{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 10px;
  margin-left: 45px;
  letter-spacing: 2px;
  background: linear-gradient(to right, #efb740, #615540,#615540, #615540);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hi{
  font-size: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #F2CD60;
  margin-top: 5px;
  margin-left: 45px;
  letter-spacing: 2px;
}

.hi2{
  font-size: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #615540;
  margin-top: 5px;
  margin-left: 45px;
  letter-spacing: 2px;
}

/* progress bars */

.progress {
  background: rgba(255,255,255,0.2);
  justify-content: flex-start;
  border-radius: 100px;
  position: relative;
  display: flex;
  height: 20px;
  width: 50%;
  margin-top: 10px;
  margin-left: 40px;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 70%; }
}
.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #acacac;
  height: 20px;
  width: 0;
}

@keyframes load-1 {
  0% { width: 0; }
  100% { width: 40%; }
}
.progress-value-1 {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #8f8f8f;
  height: 20px;
  width: 0;
}

@keyframes load-2 {
  0% { width: 0; }
  100% { width: 96%; }
}
.progress-value-2 {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #8f8f8f;
  height: 20px;
  width: 0;
}

@keyframes load-3 {
  0% { width: 0; }
  100% { width: 20%; }
}
.progress-value-3 {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #8f8f8f;
  height: 20px;
  width: 0;
}

/* footer */

footer{
  margin-top: 125px;
  font-size: 9px;
}

.foot-wrap{
  display: flex;
  justify-content: space-between;
}

#name{
  font-family: 'Montserrat Alternates', sans-serif;
  margin-left: 25px;
  font-size: 15px;
  color: #615540;
}

a{
  text-decoration: none;
  border: none;
}

.github, .linkedin{
  margin-left: 5px;
  padding-right: .1px;
  padding-top: 20px;
  padding-bottom: 1px;
  border-radius: 0px; 
}

.github{
  padding-right: 5px;
  padding-left: 2px;
  margin-left: 8px; 
}

.linkedin{
  padding-left: 2px 
}


.copy{
  color: #8f8f8f;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-right: 25px;
}

/* media */

@media (max-width: 628px){
  .wrapper-1{
    display: flex;
    align-items: center;
  }
  .name{
    font-size: 50px;
  }
  .title{
    font-size: 20px;
  }
  .contact
  {font-size: 20px;}
}